table, td {
    font-family: 'Lato', sans-serif;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px;
    color: rebeccapurple;
}

.bg {
    background-color: limegreen;
}

.bg1 {
    background-color: lightgray;
}